<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Autor</title>
</head>
<body>
    <table>
        <tr>
            <th>idAutor</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Data Nasterii</th>
        </tr>
        <% for(var i = 0; i < autori_ui.length; i++) { %>
            <tr>
                <form action="views/autor" method="post">
                    <td>
                        <%=autori_ui[i].idAutor %>
                    </td>
                    <td>
                        <%=autori_ui[i].Nume %>
                    </td>
                    <td>
                        <%=autori_ui[i].Prenume %>
                    </td>
                    <% if(autori_ui[i].DataNașterii == null) { %>
                        <td></td>
                    <% } else { %>
                        <td>
                            <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(autori_ui[i].DataNașterii)) %>
                        </td>
                    <% } %>
                </form>
            </tr>
        <% } %>
        <form action="/adaugaAutor" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idAutor" required>
                    </td>
                    <td>
                        <input type="text" name="Nume" required>
                    </td>
                    <td>
                        <input type="text" name="Prenume" required>
                    </td>
                    <td>
                        <input type="date" name="DataNașterii">
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
</body>
</html>