<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Carte</title>
</head>
<body>
    <table>
        <tr>
            <th>idCarte</th>
            <th>Titlu</th>
            <th>idCategorie</th>
        </tr>
        <% for(var i = 0; i < carti_ui.length; i++) { %>
            <tr>
                <form action="views/carte" method="post">
                    <td>
                        <%=carti_ui[i].idCarte %>
                    </td>
                    <td>
                        <%=carti_ui[i].Titlu %>
                    </td>
                    <td>
                        <%=carti_ui[i].idCategorie %>
                    </td>
                </form>
            </tr>
        <% } %>
        <form action="/adaugaCarte" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idCarte" required>
                    </td>
                    <td>
                        <input type="text" name="Titlu" required>
                    </td>
                    <td>
                        <input type="text" name="idCategorie">
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
</body>
</html>