<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Editură</title>
</head>
<body>
    <table>
        <tr>
            <th>idEditură</th>
            <th>Nume Editură</th>
            <th>Oraș</th>
        </tr>
        <% for(var i = 0; i < edituri_ui.length; i++) { %>
            <tr>
                <form action="views/editura" method="post">
                    <td>
                        <%=edituri_ui[i].idEditură %>
                    </td>
                    <td>
                        <%=edituri_ui[i].numeEditură %>
                    </td>
                    <td>
                        <%=edituri_ui[i].Oraș %>
                    </td>
                </form>
            </tr>
        <% } %>
    </table>
</body>
</html>