<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Editură</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <div class="tablediv">
    <table>
        <tr>
            <th>idEditură</th>
            <th>Nume Editură</th>
            <th>Oraș</th>
        </tr>
        <% for(var i = 0; i < edituri_ui.length; i++) { %>
            <tr>
                <form action="views/editura" method="post">
                    <td>
                        <%=edituri_ui[i].idEditură %>
                    </td>
                    <td>
                        <%=edituri_ui[i].numeEditură %>
                    </td>
                    <td>
                        <%=edituri_ui[i].Oraș %>
                    </td>
                </form>
            </tr>
        <% } %>
        <form action="/adaugaEditura" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idEditură" required>
                    </td>
                    <td>
                        <input type="text" name="numeEditură" required>
                    </td>
                    <td>
                        <input type="text" name="Oraș" required>
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>