<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Home</title>
</head>
<body>
    <nav class="meniuNav">
        <a href="/views/carte.ejs">Carte</a>
        <a href="/views/autor.ejs">Autor</a>
        <a href="/views/gen.ejs">Gen</a>
        <a href="/views/categorie.ejs">Categorie</a>
        <a href="/views/editura.ejs">Editură</a>
        <a href="/views/locatie.ejs">Locație</a>
        <a href="/views/limba.ejs">Limbă</a>
        <a href="/views/autorcarte.ejs">AutorCarte</a>
        <a href="/views/gencarte.ejs">GenCarte</a>
        <a href="/views/instantacarte.ejs">InstanțăCarte</a>
    </nav>
</body>
</html>