<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Limbă</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <table>
        <tr>
            <th>idLimbă</th>
            <th>numeLimbă</th>
        </tr>
        <% for(var i = 0; i < limbi_ui.length; i++) { %>
            <tr>
                <form action="views/limba" method="post">
                    <td>
                        <%=limbi_ui[i].idLimbă %>
                    </td>
                    <td>
                        <%=limbi_ui[i].numeLimbă %>
                    </td>
                </form>
            </tr>
        <% } %>
        <form action="/adaugaLimba" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idLimbă" required>
                    </td>
                    <td>
                        <input type="text" name="numeLimbă" required>
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
</body>
</html>