<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Locație</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <table>
        <tr>
            <th>idLocație</th>
            <th>Cameră</th>
        </tr>
        <% for(var i = 0; i < locații_ui.length; i++) { %>
            <tr>
                <form action="views/locatie" method="post">
                    <td>
                        <%=locații_ui[i].idLocație %>
                    </td>
                    <td>
                        <%=locații_ui[i].Cameră %>
                    </td>
                </form>
            </tr>
        <% } %>
        <form action="/adaugaLocatie" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idLocație" required>
                    </td>
                    <td>
                        <input type="text" name="Cameră" required>
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
</body>
</html>