<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Statistică</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <div class="container color">
        <p>Nr. Total Cărți: <%=nrcarti_ui[0].nr%></p>
        <p>Cel mai popular gen/genuri: <%for(var i = 0; i < genpop_ui.length; i++ ) {%> <%=genpop_ui[i].numeGen%> (<%=genpop_ui[i].nr%> cărți) <%}%></p>
    </div>

</body>
</html>